h1 {
    font-family: fantasy;
    text-align: center;
}

#descricao {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: underline;
    margin-top: 40px;
}

body {
    background-color: rgba(0, 68, 62, 0.644);
}

.li1 {
    font-size: 20px;
}

.li2 {
    font-size: 17.5px;
}

.li3 {
    font-size: 15px;
}

#fotoLucas {
    float: left;
    margin-right: 40px;
    padding: 10px;
    background-color:rgba(14, 0, 48, 0.644);
}

ol li:nth-child(2n+1){
    color: rgb(39, 0, 0);
}

ol li:nth-child(2n+1):hover {
    color: rgb(0, 39, 10);
}